* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
     height: 100vh;
  width: 100vw;
  background-color: #008080;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}



.wrapper {
  position: absolute;
  left: 400px;
  top: 150px;
}


img{
    width: 50px;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #c0c0c0;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  .buttons {
    width: 35%;
    display: flex;
    justify-content: space-between;
    button {
      width: 120px;
      height: 36.8px;
    }
  }
}
